{#
#  @license 3-clause BSD https://github.com/SlightScribe/SlightScribe-Core/blob/master/LICENSE.md
#  @link https://github.com/SlightScribe/SlightScribe-Core
#}


{%  extends 'SlightScribeBundle::base.public.html.twig' %}


{% block main %}

    <form class="styled" action="" method="post" >

        <div style="border: 1px solid black;">
            {{  form | raw }}
        </div>

        <div>
            Your Email:
            <input type="email" name="email">
        </div>


        <input type="hidden" name="action" value="new">
        <input type="submit" value="Get my letters" />

    </form>

{% endblock %}
