{#
#  @license 3-clause BSD https://github.com/SlightScribe/SlightScribe-Core/blob/master/LICENSE.md
#  @link https://github.com/SlightScribe/SlightScribe-Core
#}


{%  extends 'SlightScribeBundle::base.public.html.twig' %}


{% block main %}

    <form class="styled" action="" method="post" >


        <style>
            .field_required_label {
                font-style: italic;
            }
        </style>

        {% if hasErrors %}
            <style>
                .field_wrapper .field_required_missing {
                    border: 2px solid red;
                }
                .field_wrapper .field_required_missing_label {
                    color: red;
                }
            </style>
            <div>
                Please put in required fields
            </div>
        {% endif %}

        <div style="border: 1px solid black; padding: 5px;">
            {{  form | raw }}
        </div>

        <div class="field_wrapper">
            Your Email:
            <input type="email" name="email" value="{{ email }}" class="field_required {% if hasErrorsEmail %}field_required_missing{%  endif %}">
            <span class="field_required_label {% if hasErrorsEmail %}field_required_missing_label{%  endif %}">*(required)</span>
        </div>


        <input type="hidden" name="action" value="new">
        <input type="submit" value="Get my letters" />

    </form>


{% endblock %}
