{#
#  @license 3-clause BSD https://github.com/SlightScribe/SlightScribe-Core/blob/master/LICENSE.md
#  @link https://github.com/SlightScribe/SlightScribe-Core
#}


{%  extends 'SlightScribeBundle::base.public.html.twig' %}

{% block main %}

    <p>STOP</p>

    <form class="styled" action="" method="post" {{ form_enctype(form) }} >

        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Stop" />

    </form>

{% endblock %}
